name: Generate Go Proto Files

on:
  push:
    branches:
      - main
    paths:
      - 'server/proto/**.proto'
  workflow_dispatch:

defaults:
  run:
    working-directory: server/proto

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out sources
        uses: actions/checkout@v2
      - name: Set up Go environment
        uses: actions/setup-go@v2
        with:
          go-version: '^1.22'
      - name: Download Go modules
        run: go mod download
      - name: Install Protobuf Compiler
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - name: Set up Protobuf Compiler in Go environment
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.26
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.1
      - name: Build protos
        run: |
          ./buildprotos.sh
      - name: Check for changes
        id: git-check
        run: |
          CHANGES=$(git status --porcelain -- server/proto/**.pb.go)
          if [[ -n "$CHANGES" ]]; then
            echo "Found changes:"
            echo "$CHANGES"
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "No changes found for server/proto/**.pb.go"
            echo "changed=false" >> $GITHUB_OUTPUT
          fi
        shell: bash
      - name: Commit and push generated files
        if: steps.git-check.outputs.changed == 'true'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "AUTO: Generate Go proto files"
          file_pattern: "server/proto/**.pb.go"
          push_options: '--force-with-lease'

