name: Run server tests
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:

defaults:
  run:
    working-directory: server

jobs:
  run-go-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources
        uses: actions/checkout@v2
      - name: Set up Go environment
        uses: actions/setup-go@v2
        with:
          go-version: '^1.22'
      - name: Download Go modules
        run: go mod download
      - name: Install Protobuf Compiler
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - name: Set up Protobuf Compiler in Go environment
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.26
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.1
      - name: Build protos
        run: |
          cd proto
          ./buildprotos.sh
          cd ..
      - name: Build all sources
        run: |
          go build ./...
      - name: Run all tests
        run: |
          go test ./...
